In [7]:
import pandas as pd
import sqlite3

with sqlite3.connect("experiments.db") as con:
    df = pd.read_sql_query("SELECT * from lcdb_classification", con)

df

,ID,openmlid,seed_outer,seed_inner,train_size,hyperparameters,monotonic,creation_date,status,start_date,name,machine,result,end_date,error
0,1,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-10}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:55,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:50:57,None
1,2,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-09}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:57,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:50:59,None
2,3,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-08}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:59,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:00,None
3,4,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-07}",False,2023-04-10 14:50:33,done,2023-04-10 14:51:00,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:03,None
4,5,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-06}",False,2023-04-10 14:50:33,done,2023-04-10 14:51:03,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:04,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3523,3524,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 1000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3524,3525,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 10000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3525,3526,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 100000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3526,3527,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 1000000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3527,3528,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 10000000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None

In [4]:
df

,ID,openmlid,seed_outer,seed_inner,train_size,hyperparameters,monotonic,creation_date,status,start_date,name,machine,result,end_date,error
0,1,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-10}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:55,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:50:57,None
1,2,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-09}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:57,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:50:59,None
2,3,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-08}",False,2023-04-10 14:50:33,done,2023-04-10 14:50:59,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:00,None
3,4,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-07}",False,2023-04-10 14:50:33,done,2023-04-10 14:51:00,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:03,None
4,5,3,0,0,"[16,32,64,128,256,512,1024,2048,2588]","{""c"": 1e-10, ""gamma"": 1e-06}",False,2023-04-10 14:50:33,done,2023-04-10 14:51:03,mylaptop,frank,"{""16"": {""labels"": [""nowin"", ""won""], ""time_trai...",2023-04-10 14:51:04,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3523,3524,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 1000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3524,3525,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 10000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3525,3526,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 100000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3526,3527,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 1000000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None
3527,3528,871,0,0,"[16,32,64,128,256,512,1024,2048,3116]","{""c"": 10000000000.0, ""gamma"": 10000000000.0}",False,2023-04-10 14:50:33,created,None,None,None,None,None,None